Question 1: Lists
Task:
(a) Create a list named fruits with the items "apple", "orange", and "banana".

In [20]:
fruit = ["apple","orange", "banana"]
print(fruit)

['apple', 'orange', 'banana']

(b) Add "tomato" to the end of the fruits list.

In [21]:
fruit.insert(3,"tomato")
print(fruit)

['apple', 'orange', 'banana', 'tomato']

(c) Remove "apple" from the fruits list.

In [22]:
fruit.remove("apple")
print(fruit)

['orange', 'banana', 'tomato']

Question 2: Tuples
Task:
(a) Create a tuple named subjects with the following elements: "physics", "chemistry", "english", "math", and "biology".

In [23]:
subjects = ("physics", "chemistry", "english", "math", "biology")
print(subjects)
type(subjects)

('physics', 'chemistry', 'english', 'math', 'biology')

tuple

(b) Attempt to append "literature" to the tuple and observe the result. Suggest an alternative way to add an element to a tuple.

In [24]:
subjects.append("literature")

AttributeError: 'tuple' object has no attribute 'append'

Before appending, convert tuple to a list first then add append the element to it.

In [27]:
subjects_list = list(subjects)
subjects_list.append("literature")
print(subjects_list)

['physics', 'chemistry', 'english', 'math', 'biology', 'literature']

(c) Count the number of elements in the subjects tuple.

In [28]:
print(len(subjects_list))

6

Question 3: Sorting Lists
Task:
(a) Create a list named students_id with the values [10, 6, 7, 8, 9, 3].

In [2]:
students_id = [10,6,7,8,9,3]
print(students_id)

[10, 6, 7, 8, 9, 3]

(b) Sort the list in descending order and reinitialize it as sorted_students_id.

In [21]:
students_id = [10,6,7,8,9,3]
sorted_students_id = sorted(students_id)
sorted_students_id.reverse()
print(sorted_students_id)

[10, 9, 8, 7, 6, 3]

(c) Remove all elements from the sorted_students_id list.

In [23]:
sorted_students_id.clear()
print(sorted_students_id)

[]

Question 4: Generating Lists

Task:

Generate a list of numbers starting from 15 and decreasing by 3 each step, until the number is positive (not inclusive of zero). Store it in a variable named desc_list.

In [28]:
desc_list = list(range(15, 0, -3))
print(desc_list)

[15, 12, 9, 6, 3]

Question 5: Generating Lists

Task:

Generate a list of numbers starting from 2, increasing by 2 each step, until the list contains 14 elements. Store it in a variable named asc_list.

In [31]:
asc_list = [2 * i for i in range(1, 15)]
print(asc_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Question 6: Combining and Separating Lists

Task:

Combine the lists generated in Questions 4 and 5 into a single list named combined_list.
Separate the even and odd numbers from combined_list into two separate lists: even_numbers and odd_numbers.

In [36]:
combined_list = asc_list + desc_list
even_number = [item for item in combined_list if item % 2 == 0]
odd_number = [item for item in combined_list if item % 2 != 0]
print(sorted(even_number))
print(sorted(odd_number))

[2, 4, 6, 6, 8, 10, 12, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[3, 9, 15]

Question 7: Functions

Task:

Create a function circle_properties(radius) that takes in the radius of a circle and returns both the area and circumference.

In [42]:
def circle_properties(radius):
    area = 3.14 * radius**2
    circumference = 3.14 * 2 * radius
    return area , circumference

area_circumference = circle_properties(4)
print(area_circumference)

(50.24, 25.12)

Question 8: Custom Function

Task:

Define a function that performs a task you find interesting. Demonstrate how this function works.

In [57]:
import random  

def magic_8_ball():
    responses = [
        "Yes", "No", "It is certain", "Without a doubt",
        "Reply hazy, try again", "Don't count on it",
        "My sources say no", "Outlook not so good", "Very doubtful",
        "You may rely on it"
    ]
    return random.choice(responses)

question = "Should i eat chicken rice tmr?"  
answer = magic_8_ball()  
print(f"Question: {question}")  
print(f"Magic 8-Ball says: {answer}")

Question: Should i eat chicken rice tmr?
Magic 8-Ball says: Without a doubt

Question 9: Creating and Manipulating Dictionaries

Task:

(a) Create a dictionary named student_grades with the following keys and values: "Alice": 85, "Bob": 90, and "Charlie": 78.

In [47]:
student_grades = {
    "Alice": 85 ,
    "Bob" : 90 ,
    "Charlie": 78
}

print(student_grades)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}

(b) Add a new student, "David", with a grade of 92 to the student_grades dictionary.

In [48]:
student_grades["David"] = 92
print(student_grades)

{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92}

(c) Update "Alice"'s grade to 88

In [50]:
student_grades["Alice"] = 88
print(student_grades)

{'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

Question 10: Using Dictionaries to Count Occurrences

Task:

Given the list of fruits ["apple", "banana", "apple", "orange", "banana", "apple"], create a dictionary named fruit_count that counts the number of times each fruit appears in the list.

In [51]:
fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_count = {
    "apple" : 3 , 
    "banana" : 2 , 
    "orange" : 1 
}
print(fruit_count)

{'apple': 3, 'banana': 2, 'orange': 1}